<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='athletes.css') }}">
    <script src="{{ url_for('static', filename='athscript.js') }}"></script>

    <title>GOATS of the Mountain: Athletes</title>
</head>

<body>
    <div class="turquoise-top">
        <nav class="container flexed">
            <div class="flexed">
                <h1><a href="/">GOATS of the Mountain</a></h1>
            </div>
            <ul class="flexed">
                <li><a href="/admin">{{session['username']}}</a></li>
                <li><a href="/trails">Find a 14er</a></li>
                <li><a href="/athletes">Search Athletes</a></li>
                <li><a href="/races">Premier Races</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </div>
    <div class="container" id="searchAthletes">
        <h3>Athletes:</h3>
        <input type="text" id="myInput" onkeyup="searchAthletes()" placeholder="Search for names..">
        <table id="myTable">
            <thead>
                <tr class="header">
                    <th>Name</th>
                    <th>Home State</th>
                    <th>Nationality</th>
                </tr>
            </thead>
            {% for athlete in athletes %}
            <tr>
                <td><a href="/athletes/{{athlete.id}}">{{athlete.first_name}} {{athlete.last_name}}</a></td>
                <td>{{athlete.home_state}}</td>
                <td>{{athlete.nationality}}</td>
            </tr>
            {% endfor %}
        </table><br>
    </div>
</body>

</html>