<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');</style>
    <title>GOATS of the Mountain</title>
</head>
<body>
    <div class="turquoise-top">
        <nav class="container flexed">
            <div class="flexed">
                <h1>GOATS of the Mountain</h1>
            </div>
            <ul class="flexed">
                <li>Find a Trail</li>
                <li>Search Athletes</li>
                <li>Premier Races</li>
            </ul>
        </nav>
    </div>
    <div class="body">
        <main class="container">
            <h1>The mountains will be here long after we are gone.</h1>
            <h2>Here are the people that have left their mark.</h2>
        </main>
    </div>

</body>
</html>