<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');</style>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>GOATS of the Mountain</title>
</head>

<body>
    <div class="turquoise-top">
        <nav class="container flexed">
            <div class="flexed">
                <h1>GOATS of the Mountain</h1>
            </div>
            <ul class="flexed">
                <li><a href="/admin">{{session['username']}}</a></li>
                <li><a href="/trails">Find a 14er</a></li>
                <li><a href="/athletes">Search Athletes</a></li>
                <li><a href="/parks">Find a National Park</a></li>
                {% if session['username'] %}
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="body">
        <main class="container">
            <h1>The mountains will be here long after we are gone.</h1>
            <h2>Here are the people that have left their mark.</h2>
        </main>
    </div>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="{{ url_for('static', filename='sjd.jpeg') }}" style="width:100%">
            <div class="text">Seth James Demoor: <a href="https://fastestknowntime.com/podcast/95-seth-demoor">Image from fastestknowntime.com</a></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="{{ url_for('static', filename='kilian2.jpg') }}" style="width:100%">
            <div class="text">Kilian Jornet: <a href="https://www.kilianjornet.cat/en/about-me">Image from kilianjornet.cat</a></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="{{ url_for('static', filename='walmsleyEvanBarnes.jpg') }}" style="width:100%">
            <div class="text">Jim Walmsley: <a href="https://www.instagram.com/evanbarnes__/">Image from @evanbarnes__ Instagram</a></div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</body>

</html>