<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='parks.css') }}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');</style>
    <script src="{{ url_for('static', filename='parksscript.js') }}"></script>
    <title>GOATS of the Mountain: State Parks</title>
</head>
<body>
    <div class="turquoise-top">
        <nav class="container flexed">
            <div class="flexed">
                <h1><a href="/">GOATS of the Mountain</a></h1>
            </div>
            <ul class="flexed">
                <li><a href="/admin">{{session['username']}}</a></li>
                <li><a href="/trails">Find a 14er</a></li>
                <li><a href="/athletes">Search Athletes</a></li>
                <li><a href="/parks">Find a State Park</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </div>
    <div class="body">
        <h2 id="search">State Parks in: {{search}}</h2>
        <main class="container">
            <div id="search_results"></div><br>

        </main><br>
        <h3>Search again:</h3>
        <form action="/parks/searched">
            <label for="stateCode">State Abbreviation:</label>
            <input type="text" name="stateCode" placeholder="Two letters only">
            <input type="submit" value="Search by State">
        </form><br>
        <br>
    </div>


    
</body>
</html>