<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='parks.css') }}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');</style>
    <title>GOATS of the Mountain: Premiere Races</title>
</head>
<body>
    <div class="turquoise-top">
        <nav class="container flexed">
            <div class="flexed">
                <h1><a href="/">GOATS of the Mountain</a></h1>
            </div>
            <ul class="flexed">
                <li><a href="/admin">{{session['username']}}</a></li>
                <li><a href="/trails">Find a 14er</a></li>
                <li><a href="/athletes">Search Athletes</a></li>
                <li><a href="/parks">Find a National Park</a></li>
                {% if session['username'] %}
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="body">
        <main class="container">
            <h2>Looking for a National Park?</h2>
            <form action="/parks/searched">
                <label for="stateCode">State Abbreviation:</label>
                <input type="text" name="stateCode" placeholder="Two letters only">
                <input type="submit" value="Search by State">
            </form>
        </main>
    </div>

    
</body>
</html>