<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='trails.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    </style>
    <script src="{{ url_for('static', filename='athscript.js') }}"></script>

    <title>Goats of the Mountain: Trails</title>
</head>

<body>
    <div class="turquoise-top">
        <nav class="container flexed">
            <div class="flexed">
                <h1><a href="/">GOATS of the Mountain</a></h1>
            </div>
            <ul class="flexed">
                <li><a href="/admin">{{session['username']}}</a></li>
                <li><a href="/trails">Find a 14er</a></li>
                <li><a href="/athletes">Search Athletes</a></li>
                <li><a href="/parks">Find a State Park</a></li>
                {% if session['username'] %}
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container" id="searchTrails">
        <h3>Trails:</h3>
        <input type="text" id="myInput" onkeyup="searchTrails()" placeholder="Search for names..">
        <table id="myTable">
            <thead>
                <tr class="header">
                    <th>Name</th>
                    <th>Peak Height</th>
                    <th>Vertical Gain</th>
                    <th>Distance</th>
                </tr>
            </thead>
            {% for trail in trails %}
            <tr>
                <td><a href="/trails/{{trail.id}}">{{trail.name}}</a></td>
                <td>{{trail.peak_height}}</td>
                <td>{{trail.vertical_gain}}</td>
                <td>{{trail.distance}}</td>
            </tr>
            {% endfor %}
        </table><br>
    </div>
</body>

</html>