<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='onetrail.css') }}">
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');</style>
    <title>Goats of the Mountain: Trails</title>
</head>
<body>
    <div class="turquoise-top">
        <nav class="nav-container flexed">
            <div class="flexed">
                <h1><a href="/">GOATS of the Mountain</a></h1>
            </div>
            <ul class="flexed">
                <li><a href="/admin">{{session['username']}}</a></li>
                <li><a href="/trails">Find a 14er</a></li>
                <li><a href="/athletes">Search Athletes</a></li>
                <li><a href="/parks">Find a State Park</a></li>
                {% if session['username'] %}
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="body">
        <h2>Trail : {{trail.name}}</h2>
        <main class="container flexed">
            <ul>
                <li>Starting Point:</li>
                <li class="details">{{trail.start}}</li>
                <li>Peak Height:</li>
                <li class="details">{{trail.peak_height}}</li>
                <li>Vertical Gain:</li>
                <li class="details">{{trail.vertical_gain}}</li>
                <li>Distance:</li>
                <li class="details">{{trail.distance}}</li>
                <li>Variation:</li>
                <li class="details">{{trail.variation}}</li>
                <li>State:</li>
                <li class="details">{{trail.state}}</li>
            </ul>
        </main>
        <p class="container">{{trail.bio|safe}}</p>
    </div>
</body>
</html>