* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;

}


html {
    min-height: 100%;
    background-image: url(OneTrail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;

}

/* General layout */

.turquoise-top {
    min-height: 60px;
    min-width: 987px;
    align-items: center;
    justify-content: center;
    background: rgba(163, 153, 144, 0.25);

}

a, a:hover, a:visited, a:active, a:link {
    color: inherit;
    text-decoration: none;
   }

/* Nav bar */

nav {
    min-height: 60px;
    align-items: center;
    justify-content: center;

}

nav h1 {
    font-size: 2em;
    text-shadow: .5px .5px rgb(255, 255, 255);
}

nav div{
    align-items: center;
    gap: 25px;
}


nav ul {
    list-style-type: none;
    justify-items: space-between;
    align-items: center;
    gap: 25px;
    font-size: 1rem;
    text-shadow: .5px .5px rgb(255, 255, 255);

}

/* Body */

.body {
    text-align: center;
    width: 30%;
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-size: 125%;
    
}

main {
    background: rgba(163, 153, 144, 0.5);

}

iframe {
    min-width: 500px;
}

h2 {
    font-size: 2em;
    text-shadow: 1px 1px rgb(255, 255, 255);
    margin: 30px;
}

p {
    color: white;
    text-shadow: 1px 1px black;
    padding: 50px;
    max-width: 50%;
}

.details {
    color: white;
    text-shadow: 1px 1px black;
}


main ul {
    min-width: 150px;
    list-style-type: none;
}



/* Utility classes */

.flexed {
    display: flex;
}

.nav-container{
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container{
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}