* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bevan', cursive;
}


html {
    min-height: 100%;
    background-image: url(homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* General layout */

.turquoise-top {
    min-height: 60px;
    min-width: 987px;
    align-items: center;
    justify-content: center;
}

/* Nav bar */

nav {
    min-height: 60px;
    align-items: center;
    justify-content: center;
}

nav h1 {
    font-size: 2em;
    text-shadow: 1px 1px rgb(255, 255, 255);
}

nav div{
    align-items: center;
    gap: 25px;
}


nav ul {
    list-style-type: none;
    justify-items: space-between;
    align-items: center;
    gap: 25px;
    font-size: 1rem;
}

/* Main content */

.body {
    margin: 200px 0px;
    text-align: center;
    min-width: 987px;
    color: white;
    text-shadow: 3px 3px rgb(73, 72, 72);
    font-size: 125%;
}


h2 {
    margin: 30px;
}

/* Utility classes */

.flexed {
    display: flex;
}

.container{
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}